Overlay/EndPoint
{
    zorder 150
    // Stats block
    container Panel(cotainer)
    {
        metrics_mode pixels
        vert_align top
        horz_align right
        left -200
        top 0
        width 300
        height 100
		//material Information

    // Fill Here ---------------------------------
    element TextArea(EndPoint)
    {
		metrics_mode pixels
		left -350
		top 250
		width 300
		height 100
		font_name Font/Magic36
		char_height 68
		caption Current Point
		colour_top 0.936 0.680 0.066
		colour_bottom 150 150 150
	
	 }
	 ///////////////////////////////////////////////

   }
}