Overlay/CardBox
{
    zorder 300
	container Panel(UI_CardBox)
	{
		  metrics_mode pixels
		  vert_align center
		  horz_align center
		  top -290
		  left -375
		  height 560
		  width 450
		  material UI/CardBox
   }
}
////////////////////////////////////////////////////////
Overlay/ItemBox
{
    zorder 300
	container Panel(UI_ItemBox)
	{
		  metrics_mode pixels
		  vert_align center
		  horz_align center
		  top -275
		  left 75
		  height 550
		  width 310
		  material UI/ItemBox
   }
}
////////////////////////////////////////////////////////
Overlay/Card_R1
{
    zorder 400
	container Panel(UI_CardR1)
	{
		  metrics_mode pixels
		  vert_align center
		  horz_align center
		  top 0
		  left 0
		  height 50
		  width 50
		  material UI/CardR1
   }
}
Overlay/Card_R2
{
    zorder 400
	container Panel(UI_CardR2)
	{
		  metrics_mode pixels
		  vert_align center
		  horz_align center
		  top 0
		  left 0
		  height 50
		  width 50
		  material UI/CardR2
   }
}
////////////////////////////////////////////////////////
Overlay/Card_G1
{
    zorder 400
	container Panel(UI_CardG1)
	{
		  metrics_mode pixels
		  vert_align center
		  horz_align center
		  top 0
		  left 0
		  height 50
		  width 50
		  material UI/CardG1
   }
}
Overlay/Card_G2
{
    zorder 400
	container Panel(UI_CardG2)
	{
		  metrics_mode pixels
		  vert_align center
		  horz_align center
		  top 0
		  left 0
		  height 50
		  width 50
		  material UI/CardG2
   }
}
////////////////////////////////////////////////////////
Overlay/Card_B1
{
    zorder 400
	container Panel(UI_CardB1)
	{
		  metrics_mode pixels
		  vert_align center
		  horz_align center
		  top 0
		  left 0
		  height 50
		  width 50
		  material UI/CardB1
   }
}
Overlay/Card_B2
{
    zorder 400
	container Panel(UI_CardB2)
	{
		  metrics_mode pixels
		  vert_align center
		  horz_align center
		  top 0
		  left 0
		  height 50
		  width 50
		  material UI/CardB2
   }
}
////////////////////////////////////////////////////////
Overlay/Card_W1
{
    zorder 400
	container Panel(UI_CardW1)
	{
		  metrics_mode pixels
		  vert_align center
		  horz_align center
		  top 0
		  left 0
		  height 50
		  width 50
		  material UI/CardW1
   }
}
Overlay/Card_W2
{
    zorder 400
	container Panel(UI_CardW2)
	{
		  metrics_mode pixels
		  vert_align center
		  horz_align center
		  top 0
		  left 0
		  height 50
		  width 50
		  material UI/CardW2
   }
}
////////////////////////////////////////////////////////