////////////////////////////////////////////////////////
// BackGround
////////////////////////////////////////////////////////
Overlay/Base
{
    zorder 200
	container Panel(UI_Base)
	{
		  metrics_mode pixels
		  vert_align top
		  horz_align left
		  top -10
		  left 0
		  height 650
		  width 820
		  material UI/Base
   }
}
////////////////////////////////////////////////////////
// Main
////////////////////////////////////////////////////////
Overlay/MainTitle
{
    zorder 400
	container Panel(UI_MainTitle)
	{
		  metrics_mode pixels
		  vert_align center
		  horz_align center
		  top -280
		  left -245
		  height 270
		  width 485
		  material UI/Title
   }
}
////////////////////////////////////////////////////////
Overlay/Play_UP
{
    zorder 400
	container Panel(UI_Play_UP)
	{
		  metrics_mode pixels
		  vert_align center
		  horz_align center
		  top 38
		  left -185
		  height 100
		  width 375
		  material UI/Play
   }
}
Overlay/Play_DOWN
{
    zorder 400
	container Panel(UI_Play_DOWN)
	{
		  metrics_mode pixels
		  vert_align center
		  horz_align center
		  top 43
		  left -175
		  height 90
		  width 355
		  material UI/Play
   }
}
////////////////////////////////////////////////////////
Overlay/Option_UP
{
    zorder 400
	container Panel(UI_Option_UP)
	{
		  metrics_mode pixels
		  vert_align center
		  horz_align center
		  top 120
		  left -230
		  height 80
		  width 250
		  material UI/Option 
   }
}
Overlay/Option_DOWN
{
    zorder 400
	container Panel(UI_Option_DOWN)
	{
		  metrics_mode pixels
		  vert_align center
		  horz_align center
		  top 125
		  left -220
		  height 70
		  width 230
		  material UI/Option 
   }
}
////////////////////////////////////////////////////////
Overlay/Credits_UP
{
    zorder 400
	container Panel(UI_Credits_UP)
	{
		  metrics_mode pixels
		  vert_align center
		  horz_align center
		  top 120
		  left -35
		  height 80
		  width 270
		  material UI/Credits
   }
}
Overlay/Credits_DOWN
{
    zorder 400
	container Panel(UI_Credits_DOWN)
	{
		  metrics_mode pixels
		  vert_align center
		  horz_align center
		  top 125
		  left -25
		  height 70
		  width 250
		  material UI/Credits
   }
}
////////////////////////////////////////////////////////
Overlay/Exit_UP
{
    zorder 400
	container Panel(UI_Exit_UP)
	{
		  metrics_mode pixels
		  vert_align center
		  horz_align center
		  top 185
		  left -125
		  height 80
		  width 250
		  material UI/Exit
   }
}
Overlay/Exit_DOWN
{
    zorder 400
	container Panel(UI_Exit_DOWN)
	{
		  metrics_mode pixels
		  vert_align center
		  horz_align center
		  top 190
		  left -115
		  height 70
		  width 230
		  material UI/Exit
   }
}

////////////////////////////////////////////////////////
// Paused
////////////////////////////////////////////////////////

Overlay/Paused
{
    zorder 300
	container Panel(UI_Paused)
	{
		  metrics_mode pixels
		  vert_align center
		  horz_align center
		  top -280
		  left -245
		  height 270
		  width 485
		  material UI/Paused
   }
}
////////////////////////////////////////////////////////
Overlay/MainMenu_UP
{
    zorder 300
	container Panel(UI_MainMenu_UP)
	{
		  metrics_mode pixels
		  vert_align center
		  horz_align center
		  top 30
		  left -185
		  height 100
		  width 375
		  material UI/MainMenu
   }
}
Overlay/MainMenu_DOWN
{
    zorder 300
	container Panel(UI_MainMenu_DOWN)
	{
		  metrics_mode pixels
		  vert_align center
		  horz_align center
		  top 35
		  left -175
		  height 90
		  width 355
		  material UI/MainMenu
   }
}
////////////////////////////////////////////////////////
Overlay/Resume_UP
{
    zorder 300
	container Panel(UI_Resume_UP)
	{
		  metrics_mode pixels
		  vert_align center
		  horz_align center
		  top 120
		  left -185
		  height 100
		  width 375
		  material UI/Resume
   }
}
Overlay/Resume_DOWN
{
    zorder 300
	container Panel(UI_Resume_DOWN)
	{
		  metrics_mode pixels
		  vert_align center
		  horz_align center
		  top 125
		  left -175
		  height 90
		  width 355
		  material UI/Resume
   }
}

////////////////////////////////////////////////////////
// Gameover
////////////////////////////////////////////////////////

Overlay/Gameover
{
    zorder 300
	container Panel(UI_Gameover)
	{
		  metrics_mode pixels
		  vert_align center
		  horz_align center
		  top -280
		  //top 0
		  left -245
		  //left 0
		  height 270
		  //height 200
		  width 485
		  //width 400
		  
		  material UI/Gameover
   }
}

////////////////////////////////////////////////////////
Overlay/Retry_UP
{
    zorder 300
	container Panel(UI_Retry_UP)
	{
		  metrics_mode pixels
		  vert_align center
		  horz_align center
		  top 120
		  left -174
		  height 90
		  width 351
		  material UI/Retry
   }
}
Overlay/Retry_DOWN
{
    zorder 300
	container Panel(UI_Retry_DOWN)
	{
		  metrics_mode pixels
		  vert_align center
		  horz_align center
		  top 125
		  left -164
		  height 80
		  width 331
		  material UI/Retry
   }
}